//*****************************************************************
// File:   clienteB.cpp
// Author: Íñigo Aréjula, Sergio Cartiel, Aaron Ibáñez, Héctor García y Marcos Hernando
// Date:   Noviembre-Enero 2019
//*****************************************************************
FICHERO DE CONFIGURACIÓN

Puerto:2000
SERVERS:{
10.3.16.95
}
