//*****************************************************************
// File:   cliente.config
// Author: Íñigo Aréjula, Sergio Cartiel, Aaron Ibáñez, Héctor García y Marcos Hernando
// Date:   Noviembre-Enero 2019
//*****************************************************************
FICHERO DE CONFIGURACIÓN

Puerto:32004
generaciones:50
numPersonas:100
PuertoCs:2000
SERVERS:{
10.3.16.96
10.3.16.97
localhost
}
Mutar:v2


//192.168.0.163



